body {
  background: peachpuff;
}
/* .container {
  display: row;
  flex-wrap: wrap;
  border: 1px blueviolet;
  text-align: center;
  flex-direction: row;
  min-height:100vh ;
} */

 /* .a {
  
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  
} */
           
  .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: width 100vh;
  min-height: 50vh;

 }
    
/* 
.a {


  min-height: 100vh;

  padding: 5px;
  flex: 10%;  
  margin-bottom: 5px;
  min-height: 10vh;
  margin: 10px;
  background-color: aquamarine;

} */
 .a{
  background-color: lightgrey;
  padding: 20px;
  min-height: 10vh;
  width:100vh ;
  align-content: right;



 }

  .b, .c, .d {

  padding: 5px;
  flex: 10%;  
  margin-bottom: 5px;
  min-height: 10vh;
  margin: 10px;
  background-color:darkblue ;


 }

 .e, .f, .g, .h {

  padding: 5px;
  flex: 10%;  
  margin-bottom: 5px;
  min-height: 10vh;;
  margin: 10px;
  background-color:darkblue ;
  
  

 }

 /* }
 .h {
  background-color: lightgrey;
  padding: 20px;
  min-height: 10vh;
  width:50vh ;
  align-content: right;



 } */



@media screen and (max-width: 600px) {

  .container {
  flex-direction: column;

  }


  .a{
    flex-basis: 100%;
    border: 1px blueviolet;

  }

  


}

