

/* import a web font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');

 body {

 
  background: blanchedalmond;
 
}
 

 
 .container{

  display: flex;
  flex-direction: column ;
  flex-wrap: wrap;
  justify-content: space-between;
   min-height: 100vh;
  
  }



 .a {
 
   flex-grow: 1; 
   background-color: aqua;
   
}                                  

  

   
.b, .c {
  flex: 100%;
  margin: 5px;
  min-height: 30vh;
  background-color:rgb(104, 104, 132);
  
   
} 
.c {

   flex-grow: 3; 
   background-color: blueviolet;
   
} 

@media screen and (min-width: 600px ) {
  
  .container {
   
    flex-direction: row;
    flex-wrap: wrap;
    
  }


 .a {

  width: 100%;
 

 }

 .a, .c, .d {
  margin:16px;



 }

  

}
 


