

/* import a web font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');

 body {

 
  background: blanchedalmond;
 
}
 

 
 .container {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
   flex-direction: row;
  
  }
  .a {
  
    padding: 10px;
    background-color: aqua;
    flex: 100%; 
    margin-bottom: 10px; 
    min-height: 15vh;
  }
  
  .b {
    padding: 10px;
    flex: 100%;
    margin-bottom: 10px;
    background-color:rgb(104, 104, 132);
    min-height: 60vh;
    
  
  }
  .c {
    padding: 10px;
    flex: 100%;
    min-height: 15vh;
    background-color: blueviolet;
  
  }
  
  @media screen and (min-width: 600px) {

    .container{
      flex-wrap: wrap;
      flex-direction: column;
    
    }


    .a {
     
     margin: 16px;


    }
   .b {

      flex: 60%; 
      margin: 16px;
    }

    .c {
       flex: 1%; 
       margin: 16px;
      
      
    }
  }


  


 


