@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');
* {
  border: 1px solid teal;
}                  

body {
  background: papayawhip;
 
}



.container {
  
  display: flex;
  flex-wrap:wrap;
   /* min-height: 100%; */
   padding: 15px;
   /* flex-direction: column; */
  

}

.a {

  padding: 10px;
  background-color: aqua;
  flex: 100%; 
  margin-bottom: 10px; 
  min-height: 15vh;
}
.b {

  padding: 10px;
  background-color: rgb(23, 67, 67);
  flex: 100%; 
  margin-bottom: 10px; 
  min-height: 30vh;
  margin-right: 30vh;
}

 

.c {
    
  /* padding: 10px; */
  flex: 10%;
  margin-bottom: 20px;
  min-height: 30vh;
  margin-right: 10px;
  background-color: chocolate;
}
.d {
  flex: 10%;
  margin-bottom: 20px;
  min-height: 30vh;
  margin-right: 10px;
  background-color: chocolate;
}
 

.e {
  flex: 10%;
  margin-bottom: 20px;
  min-height: 30vh;
  margin-right: 30px;
  background-color: chocolate;
}
.f{

  flex:50%;
  margin-bottom: 20px;
  min-height: 40vh;
  margin-right: 30px;
  background-color:purple ;


}
@media (min-width: 600px) {

 .c{
  flex-direction: row;
 }
  .b{

    width: 30%;
    min-height: 40vh;
   


  }

 .c {
  min-width: 10px;
  margin-bottom:20px;
  min-height: 20vh;
  flex: 10%;

 }

 .d{
  min-width: 10px;
  margin-bottom:20px;
  min-height: 20vh;
  flex: 10%;
 }
.e{

  min-width: 10px;
  margin-bottom:20px;
  min-height: 20vh;
  flex: 10%;
}



  .f{

  min-height:25vh;
  flex: 10%;
  
  }
}
